table{
    width: 100%;
}

td, th, tr{
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.table thead th{
    vertical-align: middle;
}
.table thead tr th:first-child{
    width: 10%;
}
.head button, h2{
    display: inline-block;
    margin-bottom: 10px;
}

.row .col {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
}
input {
    border: 1px solid rgba(0, 0, 0, 0.2);
    vertical-align: middle;
}

#modalThemNhanVien{
    z-index: 9999;
}